.new-task-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    border: none;
}

.glass {
    backdrop-filter: blur(22px) saturate(177%);
    -webkit-backdrop-filter: blur(22px) saturate(177%);
    background-color: rgba(205, 208, 215, 0.19);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
}